a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:bisque;
    text-decoration: none;
}

body {
    margin: 0px;
}

.header {
    background-color: gray;
    padding: 20px;
    text-align: center;
    height: auto;
}
.header-img {
    
}

.header-title {
    display: flex;
    flex-wrap: wrap;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.header-nav a {
    margin: 5px 10px;
    padding: 0 10px;
    text-align: center;
    background-color:red;
}



.main {
    background-color: lightgray;
    padding: 20px;
}

.footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
}


