/******************************GENERAL*******************************/


@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.otf') format("opentype");
    font-weight: 700;
}

@keyframes fun {
    0% {
        transform:scale(1) rotate(0deg);
    }

    100% {
        transform:scale(1.1) rotate(2deg);
    }  
}

@keyframes fun1 {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.1)
    }
}


* {
    box-sizing: border-box;
}

a {
    color:black;
    opacity: 1.5;
    text-decoration:underline;
}
a:hover, a.active {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.1);
    animation: fun .3s reverse forwards;
}
html, h1, h2, h3 {
font-family: "Cardo", serif;
}

h1 {
font-size: 2.25rem;
line-height: 1.1;
margin: 0;
}
h2 {
font-size: 1.25rem;
}
h3 {
font-size: 1,10rem;
}



html, body, div, article, h1, h2, h3, p, ul, li {
    margin: 0;
}




body, html {
    margin: 0;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    font-weight: 500;
}






/******************************HEADER*******************************/


.header {
    background-color: rgb(225, 70, 49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    
    position: fixed;
    z-index: 3;
    top: 0;
    left:0;
    right:0;

    display: grid;
    
    grid-template-areas:  
     "side head"
     "side foot" 
     "side foot";
    grid-template-columns: minmax(200px, 205px) minmax(278px, 1fr);

     grid-area: header;
}


.header-img {
    display: grid;
    width: minmax(50px, 200px);
    height: minmax(50px, 200px);
    grid-area: side;
}


.header-img img {
    width: 100px;
    height: 100px;  
    border: 0.2rem solid;
    border-color: rgba(0, 0, 0, 0.5);
}

.header-img:hover img {
    animation: fun .3s reverse forwards;   
}


.header-title {
    display:grid;

    place-items: safe center;

    overflow-wrap: break-word;
    margin: 5px;
    overflow-x: scroll;
    
    grid-area: head;
}


.header-nav {
    display:grid;
   
    grid-area: foot;
}

.header-nav nav {
    display: flex;
    place-self: stretch;
    justify-content: space-around;
}

.header-nav a {
    margin: 5px 10px;
    padding: 0 10px;
    
}

/*
.header {
    position: fixed;
    z-index: 3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: rgb(225, 70, 49);
    padding: 5px;
    height: 18%;
    width:100%;
    margin-bottom: 0;
}


.header-img {
    z-index: 4;
}

.header-img:hover {
    transform: scale(1.05) rotate(2deg);
}

.header-body {
    display: flex;
    padding: 10px;
    width: 100%;
    align-content: space-around;
    justify-content: center;
}

.header-title {
    align-self: center;
}
.header-title h1 {
    margin: 0;
    padding: 0;
}
.header-nav {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}
.header-nav a {
    margin: 5px 10px;
    padding: 0 10px;
    text-align: center;
}
*

/******************************SIDEBAR*******************************/


/******************************Body, Cover*******************************/


body{
    display: grid;
    
    grid-template-rows: minmax(50px, 100px) 1fr;
    grid-template-columns: minmax(278px, 100%);
    grid-template-areas:
    "header header" 
    "cover cover";
}

.cover {
    display: grid;

    grid-template-rows: 1fr minmax(10px, 20px);
    grid-template-columns: minmax(50px, 205px) 1fr;
    grid-template-areas: 
    "sidebar main" 
    "sidebar footer";
    grid-area: cover;
}




.sidebar{
    background-color:rgb(49, 54, 56);
    display: grid;  
    
    
    white-space: normal;
    grid-template-areas:
    "haut-vide"
    "bas-rempli" ;
    grid-template-rows: 0 1fr;
    grid-template-columns: minmax(50px, 205px);
    
    margin: 0;
    

    z-index: 2;

    grid-area: sidebar;


    position: fixed;
    z-index: 2;
    top: 100px;
    left:0;
    bottom:0;
    
}


.sidebar-vide {
    grid-area: haut-vide;
    
}
.sidebar-body {
    display:grid;
    grid-area: bas-rempli;
}

.sidebar-body div:first-child {
}

.sidebar-body div{
    background: #f4f4f4;
    color: black;
    padding: 5px;
    border-radius: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100%));


    
    /*border: 0.2rem solid;
    border-color: rgb(225, 70, 49);*/
}

.sidebar-body div:hover {
    transform: scale(1.05)   
    
}

.sidebar div {
    overflow-wrap: break-word;
    margin: 5px;
    overflow-x: scroll;  
}

.sidebar div p {
    overflow-wrap: break-word;
    margin: 5px;
    overflow-x: scroll;
}




@media screen and (max-width: 768px) {

    .header {
    grid-template-columns: minmax(50px, 100px) minmax(665px, 1fr);
        
    }

    .header-title {
        margin: 0;
    }

    .header-nav nav {
        overflow-wrap: break-word;
        overflow-x: scroll;
    } 
}





/*
.sidebar {
    float: left;
    position: fixed;
    z-index: 2;
    color: white;
    background-color:rgb(49, 54, 56);
    padding: 10px;
    width: 15%;
    height: 1440px;
}

.sidebar-body {
    position: relative;
    top: 10%;
}

sidebar-body, h3 {
    color: rgb(225, 70, 49);
}

.sidebar-body blockquote {
    padding: 2px;
    margin: 2px;
}

.sidebar ul{
    list-style: none;
}

.sidebar h3, ul, li, p{
    padding: 2px;
    margin: 2px;
}

*/




/******************************MAIN*******************************/

.main {
    display: grid;

    overflow-wrap: break-word;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow-x: scroll;
    grid-area: main;
    grid-template-columns: repeat(auto-fill, minmax(250px, 100%));
    grid-gap: 1rem;

    overflow-wrap: break-word;
    overflow-x: scroll;
}


.main div {
  background: #f4f4f4;
  padding: 1.5rem;
  border-radius: 1rem;

  border: 0.2rem solid;
  border-color: rgb(49, 54, 56);

  overflow-wrap: break-word;
  overflow-x: scroll;
}

.main h1 {
    
}

/*
.main {
    float: right;
    background-color: #FFFFFF;
    padding: 10px;
    width: calc(85% - 10px);
    margin-top: 10%;
}

.main article {
    background-color: #FFFFFF;
}

.article-info .un_etoile::after {
content: "\002605 \002605 \002605";
} 

.etoile li ::after{
    content: "\002605";

} 

.main ul {
    list-style: none;
}

*/


/******************************FOOTER*******************************/

.footer {
    
    display: flex;


    position: fixed;
    bottom: 0;
    left: 205px;
    right: 0;
    z-index: 1;
    background-color:rgb(49, 54, 56);
    box-shadow: 0px 4px 30px;
    color: white;


    justify-content: space-around;

    overflow-wrap: break-word;
    overflow-x: scroll;

    /*place-items: safe center;
    overflow-wrap: break-word;*/



    /*position: relative;
    z-index: 3;
    margin: 0;*/

    grid-area: footer;   
    
}

.footer a{
    color: white;
}




@media screen and (max-width: 375px) {

    .header {
    display: flex;
    grid-template-columns: minmax(50px, 50px) minmax(325px, 1fr);
    max-height: 50px;

    }
   
    .header-nav nav {
        padding: 3px;
        display: grid;
        overflow-wrap: break-word;
        overflow-x: scroll;

    } 
    .header-title p {
        padding: 3px;
        display: grid;
        overflow-wrap: break-word;
        overflow-x: scroll;
    } 
    .header-img img {
        max-height: 50px;
        max-width: 50px;
    }

    .sidebar {
        top: 50px;
        grid-template-columns: minmax(50px, 100px);
        padding: 2px;
    }

    body {
    grid-template-rows: minmax(40px, 50px) 1fr;
    grid-template-columns: minmax(50px, 100px) 1fr;

    }

    .cover {
    grid-template-columns: minmax(50px, 100px) 1fr;
    
    
    }

    .main {
        margin-bottom: 25px;
        margin-top: 2px;
    }

    .main #experiences, #competances, #formations {
        padding: 5px;
    }

    .footer {
        max-height: 50px;
        left: 100px;
        padding: 5px;
        overflow-wrap: break-word;
        overflow: scroll;
    }

}


/******************************Style du formulaire*******************************/

.formcontact {
    display: table;
    place-self: center;
    margin-top: auto;
}
.formcontact label, input, button, a {
    display: table-cell;
}


/******************************Notation*******************************/

.unetoile::after{
    content:"\002605" "\002606" "\002606" "\002606" "\002606";
    color: rgb(49, 54, 56);
}

.deuxetoile::after{
content:"\002605 \002605\002606 \002606 \002606";
    color: rgb(49, 54, 56);
   
}

.troisetoile::after{
    content:"\002605 \002605 \002605 \002606 \002606";
    color: rgb(49, 54, 56);
   
}

.quatreetoile::after{
    content:"\002605 \002605 \002605 \002605 \002606";
    color: rgb(49, 54, 56);   
}

.cinqetoile::after{
    content:"\002605 \002605 \002605 \002605 \002605";
    color: rgb(49, 54, 56);    
}

/*
.footer{
    position: relative;
    right:0px;
    left:15%;
    width:85%;
    z-index: 3;
    background-color: rgb(225, 70, 49);
    box-shadow: 0px 4px 30px;
    clear: both;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}
*/



