/******************************GENERAL*******************************/
* {
    box-sizing: border-box;
}
a {
    color:black;
    opacity: 0.5;
    text-decoration: none;
}
a:hover, a.active {
    opacity: 1;
    text-decoration: none;
    transform: scale(1.05) rotate(2deg);

}

body, html {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    font-weight: 500;
}

html, h1, h2, h3 {
font-family: "Cardo", serif;
}

h1 {
font-size: 2.25rem;
line-height: 1.1;
}
h2 {
font-size: 1.25rem;
}
h3 {
font-size: 1,10rem;
}



html, body, article, h1, h2, h3, p, ul, li {
    overflow-wrap: break-word;
    text-align: left;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.otf') format("opentype");
    font-weight: 700;
}
/******************************HEADER*******************************/

.header {
    position: fixed;
    z-index: 3;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: rgb(225, 70, 49);
    padding: 5px;
    height: 18%;
    width:100%;
    margin-bottom: 0;
}


.header-img {
    z-index: 4;
}

.header-img:hover {
    transform: scale(1.05) rotate(2deg);
}

.header-body {
    display: flex;
    padding: 10px;
    width: 100%;
    align-content: space-around;
    justify-content: center;
}

.header-title {
    align-self: center;
}
.header-title h1 {
    margin: 0;
    padding: 0;
}
.header-nav {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}
.header-nav a {
    margin: 5px 10px;
    padding: 0 10px;
    text-align: center;
}



/******************************SIDEBAR*******************************/


.sidebar {
    float: left;
    position: fixed;
    z-index: 2;
    color: white;
    background-color:rgb(49, 54, 56);
    padding: 10px;
    width: 15%;
    height: 1440px;
}

.sidebar-body {
    position: relative;
    top: 10%;
}

sidebar-body, h3 {
    color: rgb(225, 70, 49);
}

.sidebar-body blockquote {
    padding: 2px;
    margin: 2px;
}

.sidebar ul{
    list-style: none;
}

.sidebar h3, ul, li, p{
    padding: 2px;
    margin: 2px;
}




/******************************MAIN*******************************/


.main {
    float: right;
    background-color: #FFFFFF;
    padding: 10px;
    width: calc(85% - 10px);
    margin-top: 10%;
}

.main article {
    background-color: #FFFFFF;
}

.main ul {
    list-style: none;
}


/******************************FOOTER*******************************/


.footer{
    position: relative;
    right:0px;
    left:15%;
    width:85%;
    z-index: 3;
    background-color: rgb(225, 70, 49);
    box-shadow: 0px 4px 30px;
    clear: both;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}



