a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:white;
    text-decoration: none;
}

body {
    margin: 0px;
}

.header {
    background-color: gray;
    padding: 20px;
    text-align: center;
    height: auto;
}
.header-img {
    
}

.header-title {
    
}
.header-nav {
    display: flex;
}
.header-nav a {
    margin: auto;
    padding: 0 10px;
    background-color: lightgray;
}



.main {
    background-color: lightgray;
    padding: 20px;
}

.footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
}


